<div class="container">
    <nav class="d-flex justify-content-end p-3" style="height: 10vh; min-height: 100px">
        <img src="assets/Brand-logo.png" alt="Logo" style="cursor: pointer; height: 100%" />
    </nav>
    <div class="mt-xl-5 mt-3 mb-3">
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-dark mb-2" (click)="onAddUser(modal)">Add User</button>
        </div>

        <p-table
            [value]="(users$ | async)!"
            [rows]="10"
            responsiveLayout="scroll"
            [rowsPerPageOptions]="[10, 25, 50]"
            [paginator]="true"
            styleClass="p-datatable-gridlines"
            [globalFilterFields]="['firstName', 'lastName', 'email', 'age']"
            class="card"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>First Name</th>
                    <th>Last</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="firstName"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="lastName"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="email"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="age"></p-columnFilter>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td style="min-width: 250px">
                        {{ user.firstName }}
                    </td>
                    <td style="min-width: 250px">
                        {{ user.lastName }}
                    </td>
                    <td style="min-width: 250px">
                        {{ user.email }}
                    </td>
                    <td style="min-width: 250px">
                        {{ user.age }}
                    </td>
                    <td>
                        <i class="pi pi-trash" style="color: red; cursor: pointer" (click)="onDelete(user)"></i>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No Users found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<ng-template #modal let-modalClose>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add User</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSave(modalClose)">
            <div class="mb-3 d-flex flex-column gap-3">
                <div class="input-group input">
                    <input
                        id="firstName"
                        class="form-control"
                        formControlName="firstName"
                        placeholder="First Name"
                        [ngClass]="
                            form.get('firstName')!.invalid && form.get('firstName')!.touched ? 'border-danger' : ''
                        "
                    />
                </div>
                <div class="input-group input">
                    <input
                        id="lastName"
                        class="form-control"
                        formControlName="lastName"
                        placeholder="Last Name"
                        [ngClass]="
                            form.get('lastName')!.invalid && form.get('lastName')!.touched ? 'border-danger' : ''
                        "
                    />
                </div>
                <div class="input-group input">
                    <input
                        id="Age"
                        class="form-control"
                        formControlName="age"
                        placeholder="18"
                        type="number"
                        min="18"
                        max="150"
                        [ngClass]="form.get('age')!.invalid && form.get('age')!.touched ? 'border-danger' : ''"
                    />
                </div>
                <div class="input-group input">
                    <input
                        id="email"
                        class="form-control"
                        formControlName="email"
                        #email
                        placeholder="Email"
                        [ngClass]="form.get('email')!.invalid && form.get('email')!.touched ? 'border-danger' : ''"
                    />
                </div>
                <span *ngIf="!isValidEmail" class="text-danger"> Signee with this email already exists. </span>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid">Save</button>
            </div>
        </form>
    </div>
</ng-template>
